@import "tailwindcss";

@layer components {
    .input-style {
        @apply w-full rounded-xl border border-gray-300 px-4 py-2 transition focus:border-blue-500 focus:ring-2 focus:ring-blue-300 outline-none;
    }

    .input-style {
        @apply rounded-xl bg-[#ECEEF3] py-3 px-4 text-[#0A1B70] outline-none shadow-[inset_0_0_15px_#b3b6c5,0_8px_20px_rgba(0,0,0,0.25)];
    }
}
